{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}


{% block body %}


{% for message in app.session.flashbag.get('neutre') %}
<div class="flashbag inscrit w70 medium-w75 small-w75 tiny-w100 center pam">
    <div class="w10 small-hidden inbl mts tiny-hidden">

    </div>
    <p class="col-sm-4 col-sm-offset-4  message-success">{{ message }}</p>
</div>
{% endfor %}


    <!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Réalisations</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">

            {% for chantier in chantiers %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ path('paysage_chantier_view', {'id' : chantier.id }) }}" class="portfolio-link" >
                    <div class="portfolio-hover portfolio-hover--color-{{ chantier.categorie.id }}">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="portfolio-img">
                        <img src="{{ asset(chantier.webPath_vignette) }}" class="img-responsive" alt="{{ chantier.vignetteAlt }}">

                    </div>
                </a>
                <div class="portfolio-caption">
                    <h4>{{ chantier.titre }}</h4>
                    <p class="text-muted">{{ chantier.categorie.name }}</p>
                </div>
            </div>




            {% endfor %}
        </div>
    </div>
</section>


    {% include("form-contact.html.twig") %}

{% endblock %}



